@import 'variables.css';

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--shade-light);
  background-color: var(--shade-dark);
}

html, body {
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
}

p {
  line-height: 1.5;
}

.important {
  font-weight: bold;
  font-style: italic;
}

.lookAtMe-lookAtMe-lookAtMe {
  font-weight: bold;
  font-size: 1.25rem;
  border: 2px solid currentColor;
  border-radius: 4px;
  padding: .25em 0;
}

.pre {
  font-family: monospace;
}
