html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

html, body {
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
}

label {
  cursor: pointer;
}

input, select, option {
  font-size: 1rem;
  padding: .25em;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background: none;
  line-height: 1.2;
  height: 1.2rem;
  box-sizing: initial;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input:active, select:active, option:active, button:active,
input:focus,  select:focus,  option:focus,  button:focus {
  border-color: #333;
  outline: none;
}

input[type='checkbox'] {
  padding: 0 .75em;
  background-color: #ccc;
  border: none;
  border-radius: .6em;
  color: #999;
  transition: all .3s;
}
input[type='checkbox']:before {
  content: "off";
}

input[type='checkbox']:checked {
  background-color: #1af;
  color: #fff;
}
input[type='checkbox']:checked:before {
  content: "on";
}

button {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background: none;
}
button:hover {
  background: #ccc;
}
button:active {
  background: #333;
  color: #fff;
}
button.full-width {
  width: 100%;
  padding: .5em;
  box-sizing: border-box;
}



@media (min-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 22rem;
    border-right: 2px solid #eee;
  }

  .viewer, .toolbar {
    position: fixed;
    right: 0;
    left: 22rem;
  }

  .viewer {
    top: 0;
    bottom: 2rem;
    background: red;
  }

  .toolbar {
    height: 2rem;
    bottom: 0;
    background: green;
  }
}
