@import 'variables.css';

html {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: var(--shade-light);
  background-color: var(--shade-dark);
}

html, body {
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
}

label {
  cursor: pointer;
}

input, select, option {
  font-size: 1rem;
  padding: .25em;
  border: none;
  border-bottom: 1px solid var(--shade-light);
  border-radius: 0;
  color: var(--shade-light);
  background: none;
  line-height: 1.2;
  height: 1.2rem;
  box-sizing: initial;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input:active, select:active, option:active, button:active,
input:focus,  select:focus,  option:focus,  button:focus {
  border-color: var(--primary);
  outline: none;
}

input[type='checkbox'] {
  padding: 0 .75em;
  background-color: var(--shade-dark);
  border-radius: .6em;
  border: none;
  color: var(--shade-light);
  transition: all .3s;
  box-sizing: border-box;
}
input[type='checkbox']:before {
  content: "off";
}

input[type='checkbox']:checked {
  background-color: var(--primary);
  color: var(--shade-darker);
}
input[type='checkbox']:checked:before {
  content: "on";
}

button {
  border: 1px solid var(--primary);
  border-radius: .25rem;
  font-size: 1rem;
  color: var(--primary);
  background: none;
}
button:hover {
  background: var(--primary);
  color: var(--gray-darker);
}
button:active {
  background: var(--shade-darker);
  color: var(--shade-lighter);
}
button:disabled, button:disabled:hover, button:disabled:active {
  border-color: var(--shade-darker);
  background: none;
  color: var(--shade-darker);
}
button.full-width {
  padding: .5em;
  box-sizing: border-box;
}



@media (min-width: 768px) {
  .sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 22rem;
  }

  .viewer, .toolbar {
    position: fixed;
    right: 0;
    left: 22rem;
  }

  .viewer {
    top: 0;
    bottom: 2rem;
    background: red;
  }

  .toolbar {
    height: 2rem;
    bottom: 0;
    background: green;
  }
}
