@import 'variables.css';

/* Control panel */
.sidebar {
  overflow: auto;
}

.sidebar > * {
  padding: 1rem;
}

fieldset {
  padding: .25rem .5rem;
  border-radius: .25rem;
  border: none;
  margin: .5rem 0;
  background-color: var(--shade-darker);
}


/* Label */
.label {
  padding: .25em 0;
}

.label-info {
  font-style: italic;
  font-size: .75em;
}


/* Form input */
.form-input-inline, .form-radio {
  display: block;
  margin: .5rem 0;
}

.form-input-inline {
  display: flex;
  justify-content: space-between;
}

.form-input-inline input[type="text"],
.form-input-inline input[type="number"],
.form-input-inline select {
  width: 7rem;
}


/* Form radio */
.form-radio {
  display: flex;
  border: .25rem solid var(--shade-darker);
  border-radius: .25rem;
  background-color: var(--shade-darker);
}

.form-radio > input[type="radio"] {
  display: none;
}

.form-radio > label {
  flex-grow: 1;
  padding: .25em;
  border-radius: .125rem;
  text-align: center;
}

.form-radio > label:last-child {
  border-right: none;
}

.form-radio > input[type="radio"]:checked + label {
  color: var(--shade-dark);
  background-color: var(--shade-light);
}
