@import 'variables.css';

.viewer {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAACVBMVEX////MzMyZmZnTl7o6AAAAFElEQVR4AWMgCjCi85kwRBiGBwAABiYAB7t8bP8AAAAASUVORK5CYII=);
}

.viewer.dark {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAACVBMVEUAAAAzMzNmZmbevrYEAAAAFElEQVR4AWMgCjCi85kwRBiGBwAABiYAB7t8bP8AAAAASUVORK5CYII=);
}

.viewer-wrap {
  height: 100%;
}

.viewer svg {
  height: 100%;
  width: 100%;
  padding: 2%;
  box-sizing: border-box;
}


input.viewer-switch {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background-color: var(--shade-darker);
  color: var(--shade-lighter);
}
input.viewer-switch:before {
  content: "switch to dark mode";
}

input.viewer-switch:checked {
  background-color: var(--shade-lighter);
  color: var(--shade-darker);
}
input.viewer-switch:checked:before {
  content: "switch to light mode";
}
